<div class="navbar-light bg-light border-bottom" xmlns:th="http://www.thymeleaf.org" th:fragment="header"
     xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="d-flex flex-row justify-content-between" style="margin-left: 1em;margin-right: 1em;">
        <div class="d-flex">
            <a th:href="@{/main}">
                <img th:src="@{/svg/logo.svg}" alt="Logo" width="40" height="40" class="">
            </a>
            <ul class="nav" style="margin-left: 2em;">
                <li class="nav-item dropdown d-flex align-items-center">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Ваши рабочие пространства
                    </a>
                    <ul class="dropdown-menu">
                        <th:block th:if="${session.ALL_WORKSPACES != null and session.ALL_WORKSPACES.size() != 0}">
                            <li><span class="dropdown-header" style="font-size: 13px;font-weight: bold;">Ваши рабочие пространства</span>
                            </li>
                            <li
                                    th:each="workspace : ${session.ALL_WORKSPACES}">
                                <a class="dropdown-item"
                                   th:href="@{/workspaces/{id}/boards(id=${workspace.id})}"
                                   th:text="${workspace.title}">Action</a>
                            </li>
                        </th:block>
                        <th:block th:if="${(session.CUR_WORKSPACE == null and session.ALL_WORKSPACES == null) or session.ALL_WORKSPACES.size() == 0}">
                            <li class="text-center"><span style="font-weight: bold;font-size: 14px;">Ваши рабочие пространства будут отображаться здесь</span></li>
                        </th:block>
                    </ul>
                </li>
                <li class="nav-item dropdown d-flex align-items-center">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Недавние
                    </a>
                    <ul class="dropdown-menu">
                        <th:block th:if="${session.RECENT_BOARDS != null and session.RECENT_BOARDS.size() != 0}">
                            <li><span class="dropdown-header" style="font-size: 13px;font-weight: bold;">Недавние</span></li>
                            <li th:each="board : ${session.RECENT_BOARDS}">
                                <a class="dropdown-item"
                                   th:href="@{/workspaces/{wId}/boards/{bId}(wId=${board.workspaceId},bId=${board.id})}">
                                    <span class="d-flex flex-column">
                                        <span th:text="${board.title}">Board Title</span>
                                        <small th:text="${board.workspaceTitle}" style="color:gray;">Board Workspace Title</small>
                                    </span>
                                </a>
                            </li>
                        </th:block>
                        <th:block th:if="${session.RECENT_BOARDS == null}">
                            <li class="text-center"><span style="font-weight: bold;font-size: 14px;">Недавние доски будут отображаться здесь</span></li>
                        </th:block>
                    </ul>
                </li>
                <li class="nav-item dropdown d-flex align-items-center">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        В избранном
                    </a>
                    <ul class="dropdown-menu">
                        <th:block th:if="${session.FAVORITED_BOARDS != null and session.FAVORITED_BOARDS.size != 0}">
                            <li><span class="dropdown-header" style="font-size: 13px;font-weight: bold;">В избранном</span></li>
                            <li th:each="board : ${session.FAVORITED_BOARDS}">
                                <a class="dropdown-item"
                                   th:href="@{/workspaces/{wId}/boards/{bId}(wId=${board.workspaceId},bId=${board.id})}">
                                    <span class="d-flex flex-column">
                                        <span th:text="${board.title}">Board Title</span>
                                        <small th:text="${board.workspaceTitle}" style="color:gray;">Board Workspace Title</small>
                                    </span>
                                </a>
                            </li>
                        </th:block>
                        <th:block th:if="${session.FAVORITED_BOARDS == null or session.FAVORITED_BOARDS.size == 0}">
                            <li class="text-center"><span style="font-weight: bold;font-size: 14px;">Чтобы быстро находить важные доски, отмечайте их.</span></li>
                        </th:block>
                    </ul>
                </li>
                <li class="nav-item dropdown d-flex align-items-center">
                    <a class="btn btn-primary btn-sm" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false" style="width: 4em;">
                        <img th:src="@{/svg/plus-solid.svg}" style="height: 15px;" alt="">
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item d-flex flex-row align-items-center">
                            <button class="btn" type="button" data-bs-toggle="modal"
                                    data-bs-target="#createWorkspaceModal">
                                <img th:src="@{/svg/table-list-solid.svg}" alt=""
                                     style="height: 15px;margin-right: 0.5em;">
                                <span>Создать рабочее пространство</span>
                            </button>
                        </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="d-flex">
            <ul class="nav">
                <li class="nav-item dropdown" th:if="${session.CUR_USER != null}">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        <span sec:authorize="isAuthenticated()">
                            <span th:text="${session.CUR_USER.fullName}">Username</span>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><span class="dropdown-header"
                                  style="font-size: 13px;font-weight: bold;">УЧЕТНАЯ ЗАПИСЬ</span>
                        <li>
                            <span class="dropdown-item d-flex flex-row">
                                <img th:src="@{/svg/circle-user-solid.svg}" alt="" style="width: 35px;margin-right: 0.5em;">
                            <span class="d-flex flex-column">
                                <span style="max-width: 100px;" class="text-truncate" th:text="${session.CUR_USER.username}">Username</span>
                                <small th:text="${session.CUR_USER.email}" style="color:gray;">Email</small>
                            </span>
                            </span>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" th:href="@{/logout}">Выйти</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
