<div class="d-flex flex-row justify-content-around" xmlns:th="http://www.thymeleaf.org" th:fragment="workspace-header">
    <div class="d-flex flex-row align-items-center">
        <img th:src="@{/images/project.png}" style="height: 80%" alt="">
        <div class="d-flex flex-column">
            <span style="margin-left: 0.5em;font-size: 20px;font-weight: bold;" th:text="${workspace} ? ${workspace.title} : ''">Workspace Name</span>
        </div>
    </div>
    <div class="d-flex flex-row">
        <button class="btn" type="button" data-bs-toggle="modal"
                data-bs-target="#addPersonModal" th:if="${CUR_USER_WORKSPACE_ROLE != null and CUR_USER_WORKSPACE_ROLE == 'WORKSPACE_ADMIN'}">
            <img th:src="@{/svg/user-plus-solid.svg}" style="height: 20px;" alt="">
        </button>
    </div>
</div>